<div class="jumbotron">
  <h1 class="display-4 text-info">About NotePad.io</h1>
  <p class="lead text-info">This is a basic Webapp for creating,Editing and deleting notes. </p>
  <hr class="my-4">
  <p class="text-info">It was created using node.js ,handlebars templating and mongodb</p>
  <a class="btn btn-primary btn-lg" href="/" role="button">Create Note</a>
</div>